* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.hero-introduction {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.hero-content {
    flex: 0 1 80%;
    margin: 100px auto;
    display: flex;
    gap: 20px;
}

.hero-content > div {
    flex: 1;
}

.hero-image {
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

header {
    justify-content: center;
    padding: 15px 10px;
}

header ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 29px;
}

.header-content {
    display: flex;
    margin: 0 auto;
    flex: 0 0 80%;
    justify-content: space-between;
}

.header-content > p {
    font-weight: 800;
    font-size: 1.4rem;
}

.hero-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 7px 25px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.random-information {
   display: flex;
   flex-direction: column;
   width: 70%;
   margin: 40px auto;
   gap: 40px;
}

.random-information h2 {
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
}

.info-blocks {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.info-block  {
    flex: 0 0 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-block-image {
    border: solid 3px #3882F6;
    width: 100%;
    height: 180px;
    border-radius: 10px;
}

.info-block p {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 50px 0;
}

.quote-content {
    width: 70%;
    margin: 0 auto;
}