* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

header ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
}