* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

header {
    justify-content: center;
    padding: 5px 10px;
}

header ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header-content {
    display: flex;
    margin: 0 auto;
    flex: 0 0 80%;
    justify-content: space-between;
}