* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.hero-introduction {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.hero-content {
    flex: 0 1 80%;
    margin: 100px auto;
    display: flex;
    gap: 80px;
}

/* .hero-content > div {
    flex: 1 1 0;
}*/

.hero-image {
    display: flex;
    justify-content: center;
    flex: 1;
}

.hero-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 18px;
    flex: 1 1 0; 
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

header {
    justify-content: center;
    padding: 15px 10px;
}

header ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 29px;
}

.header-content {
    display: flex;
    margin: 0 auto;
    flex: 0 0 80%;
    justify-content: space-between;
}

.header-content > p {
    font-weight: 800;
    font-size: 1.4rem;
}

.hero-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    padding: 7px 25px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
}

.random-information {
   display: flex;
   flex-direction: column;
   width: 70%;
   margin: auto;
   gap: 40px;
   padding: 60px 0 100px 0;
   background-color: #F9FAF8;
}

.random-information h2 {
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
}

.info-blocks {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.info-block  {
    flex: 0 1 180px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-block img {
     width: 100%;
    height: auto;
    border-radius: 10px;
}

.info-block p {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.quote {
    background-color: #e5e7eb;
    padding: 90px 0;
}

.quote-content {
    width: 70%;
    margin: 0 auto;
}

.quote-content p:first-of-type {
    color:#1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;

}

.quote .author {
    text-align: right;
    font-weight: bolder;
    font-size: 24px;
    padding-right: 25px;
}

.call-to-action {
    padding: 75px 0;
}

.cto-container {
    color: #F9FAF8;
    background-color: #3882F6;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    padding: 45px 0;
    border-radius: 8px;
}

.cto-button button {
    border: solid 2px #E5E7EB;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: bold;;
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
}

.cto-message p {
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

footer p {
    font-size: 16px;
}