* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
}

.hero-introduction {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

.hero-content {
    flex: 0 1 80%;
    margin: 0 auto;
    display: flex;
}

.hero-content > div {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

header {
    justify-content: center;
    padding: 15px 10px;
}

header ul {
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    display: flex;
    gap: 29px;
}

.header-content {
    display: flex;
    margin: 0 auto;
    flex: 0 0 80%;
    justify-content: space-between;
}

.header-content > p {
    font-weight: 800;
    font-size: 1.4rem;
}